.page {
  max-width: 1366px;
  margin: 0 auto;
  background-color: var(--white-bg);
}
.page-container {
  background-color: var(--white);
}

/* 
.articles,
.article,
.article__title,
.article__text,
.article__body,
*/
.article__body > * {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
}
.articles,
.article,
.article__title,
.article__text,
.article__body {
  margin: 0;
  padding: 0;
}

.articles {
  padding: 88px 79px;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.article__title {
  font-family: var(--font);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--dark-grey);
  margin-bottom: 8px;
}

.article__text {
  max-width: 571px;
  font-family: var(--font);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-grey);
  margin-bottom: 8px;
}

.article__body {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 32px 16px;
}
.article__body--extra-top-margen {
  margin-top: calc(51px - 8px);
}
