/*
p {
  font-size: 16px;
  font-weight: 300;
  color: var(--dark-grey);
  margin-bottom: 24px;
}
/* 
 * Use classes and containers wisely to keep it dry
 */
/*
 body {
   font-family: var(--font);
}



.block-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-cards__vertical {
  flex-flow: wrap;
}

.body {
  background-color: var(--white-bg);
}
.page-container {
  margin: 0 auto;
  width: 1366px;
  background-color: var(--white);
}

/* 
.articles,
.article,
.article__title,
.article__text,
.article__body,
*/ /*
.article__body > * {
  margin: 0;
  padding: 0;
}
.articles,
.article,
.article__title,
.article__text,
.article__body {
  /*margin: 0;
  padding: 0;*/

/*}

*/
