.bg_card {
  flex-grow: 1;

  display: flex;
  align-items: center;
  overflow: hidden;
  width: 391px;
  gap: 24px;
  border-radius: 12px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.bg_card__image {
  width: 121px;
  height: 85px;
}

.bg_card__text {
  font-family: var(--font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 0;
}

.bg_cards {
  display: flex;
  gap: 16px;
}
