.middle-card {
    width: 391px;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    margin-right: 16px;
}

.middle-card__img {
    width: 391px;
    height: 239px;
    background-size: cover;
    background-position: center center;
    align-self: stretch;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.middle-card__arroba {
    font-size: 54px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}

.middle-card__p {
    color: var(--purple);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}

.middle-card__p--person {
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}